img.invert {
    filter: invert(1);
}

img {
    margin-top: 1em;
}

table {
    border-collapse: collapse;
    border: 2px solid;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: center;
}

th, td {
    border: 1px solid;
    padding: 8px 10px;
}

td.no-border {
    border: none;
}

td.no-padding {
    padding: 0;
}

td.al {
    text-align: left;
    width: 50%;
}

td.ar {
    text-align: right;
    width: 50%;
}

td > p {
    margin: 0;
}

.svg-filter {
    filter: invert(88%) sepia(57%) saturate(5355%) hue-rotate(320deg) brightness(106%) contrast(97%);
}

.reaction-arrow {
    margin: 0;
}

.reaction-table {
    width: 100%;
}