<table class="reaction-table">
    <thead>
        <tr>
            <th>{{from}}</th>
            <th colspan="2">{{enzyme}}</th>
            <th>{{to}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mol no-border" rowspan="3" id="mol-{{from}}"></td>
            <td class="no-border ar">
                {{#consumes}}
                    <p>{{.}}</p>
                {{/consumes}}
            </td>
            <td class="no-border al">
                {{#produces}}
                    <p>{{.}}</p>
                {{/produces}}
            </td>
            <td class="mol no-border" rowspan="3" id="mol-{{to}}"></td>
        </tr>
        <tr>
            <td colspan="2" class="no-border no-padding">
                <img src="/articles/resources/arrows/{{arrow}}" class="reaction-arrow svg-filter" alt="{{arrow}}">
            </td>
        </tr>
        <tr>
            {{#reversible}}
                <td class="no-border ar">
                    {{#consumes}}
                        <p>{{.}}</p>
                    {{/consumes}}
                </td>
                <td class="no-border al">
                    {{#produces}}
                        <p>{{.}}</p>
                    {{/produces}}
                </td>
            {{/reversible}}
        </tr>
    </tbody>
    {{#reversible}}
        <tfoot>
            <tr>
                <th>{{from}}</th>
                <th colspan="2">{{#enzyme_b}}{{enzyme_b}}{{/enzyme_b}}{{^enzyme_b}}{{enzyme}}{{/enzyme_b}}</th>
                <th>{{to}}</th>
            </tr>
        </tfoot>
    {{/reversible}}
</table>