<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="UTF-8"/>
        <title>Alex6 - {{title}}</title>
        <link rel="stylesheet" href="../style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Tags -->
        <meta name="title" content="Alex6 - {{title}}"/>
        <meta name="description" content="{{description}}"/>
        <meta name="keywords" content="{{tags}}"/>
        <meta name="robots" content="index, follow"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="language" content="{{language}}"/>
        <meta name="author" content="Alex6"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://alex6.dev/" />
        <meta property="og:title" content="Alex6 - {{title}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:image" content="https://alex6.dev/umbreon.png" />
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content="https://alex6.dev/" />
        <meta property="twitter:title" content="Alex6 - {{title}}" />
        <meta property="twitter:description" content="{{description}}" />
        <meta property="twitter:image" content="https://alex6.dev/umbreon.png" />
    </head>
    <body>
        <div class="title-box">
            <img src="../umbreon.png" alt="Umbreon"/>
            <h1>Alex6's Blog // {{title}}</h1>
        </div>
        <main>
            {{{content}}}
        </main>
    </body>
</html>